<div class="card">
    <div class="card-header">
      Referencias Locales
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="nombre">Dime tu nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="" #nombreLocal="">
      </div>
      <button type="button" class="btn btn-dark" (click)="nombreLocal.value = nombreLocal.value " >Guardar</button>
      <button type="button" class="btn btn-dark" (click)="nombreLocal.value = '' " >Borrar</button>
    </div>
    <div class="card-footer text-muted">
      <p>Hola {{nombreLocal.value}}</p>
    </div>
  </div>
